/* ----- STYLING DE LA PAGE ----- */

.disclaimer {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  max-width: 600px;
  margin: 20px auto;
  padding: 18.5px;
  border-left: 3px solid #ffffff;
  background-color: #f9f9f934;
  color: #ffffff;
}

.disclaimer em {
  font-style: italic;
  color: #cecece;
}

body {
  background-image: url(https://github.com/dharmx/walls/blob/main/anime/a_bug_with_a_green_light_on_the_wall.png?raw=true);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 6em;
  color: #fff;
}

input {
  font-size: 1.2em;
  padding: 10px 15px;
  margin: 2em;
  background-color: rgba(249, 249, 249, 0.103);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0);
  outline: none;
  width: 80%;
  max-width: 500px;
  transition: all 0.3s ease;
  border-left: 3px solid #ffffff;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

/* ----- RESULTATS DE LA RECHERCHE ----- */

#resultats {
  background-color: #f9f9f934;
  border-left: 3px solid #ffffff;
  padding: 20px;
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
}

#liste-mots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  font-size: 2em;
}

#liste-mots div {
  padding: 8px 12px;
  color: #fff;
  transition: transform 0.2s, background-color 0.2s;
}

#liste-mots div:hover {
  transform: scale(1.05);
}

mark {
  background-color: rgba(170, 244, 170, 0);
  color: #fff;
  border-radius: 0.3em;
}

/* ----- FOOTER ----- */

footer {
    color: #cecece;
}

footer span {
    color: #3eff6e;
    font-weight: bolder;
}



/*
      /\_/\  
     ( o.o ) 
      > ^ <  "pourquoi tu regardes par ici toi ?" 
*/
